Repository AY2021S2-CS2103T-T10-2/tp, pull requests merged in 2021-04, with the labels that each got.

#124 Fix filtering tasks by biweekly recurring date test and glitchy slider
  src/main/java/seedu/address/ui/CalendarPanel.java
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/TagListPanel.fxml
  src/test/java/seedu/address/logic/commands/ViewDayCommandTest.java
Labels: type.Bug

#126 Enhance date constraint
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/model/task/RecurringSchedule.java
  src/main/java/seedu/address/model/task/Task.java
  src/main/java/seedu/address/model/task/ValidDateFormatter.java
Labels: priority.High, type.Bug, type.Enhancement, type.Task

#206 Update ug
  docs/UserGuide.md
  docs/images/FindMultipleTags.png
  src/main/java/seedu/address/logic/commands/FindCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/parser/FindCommandParserUtil.java
  src/main/java/seedu/address/logic/parser/ListCommandParser.java
  src/main/java/seedu/address/model/task/AttributeManager.java
  src/main/java/seedu/address/model/task/attributes/RecurringSchedule.java
Labels: priority.High, type.Bug, type.Enhancement, type.Task

#210 Fix ped issues
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/HelpCommand.java
Labels: priority.Medium, severity.High, type.Task

#218 Update UG recurring schedule and FindCommandParser test cases
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/parser/FindCommandParserUtil.java
  src/main/java/seedu/address/model/task/attributes/RecurringSchedule.java
  src/test/java/seedu/address/logic/parser/FindCommandParserTest.java
  src/test/java/seedu/address/model/task/RecurringScheduleTest.java
Labels: priority.High, type.Enhancement, type.Task

#221 Update DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/FindByTitleSequenceDiagram.puml
  docs/images/BetterModelClassDiagram.png
  docs/images/FindByTitleSequenceDiagram.png
  docs/images/FindSequenceDiagram.png
  docs/images/ModelClassDiagram.png
  docs/team/kaixiangtay.md
  src/main/java/seedu/address/logic/parser/FindCommandParserUtil.java
  src/main/java/seedu/address/model/task/attributes/RecurringSchedule.java
Labels: priority.High, type.Enhancement, type.Task

#232 Docs fix
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/diagrams/LogicClassDiagram.puml
  src/main/java/seedu/address/model/task/attributes/RecurringSchedule.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
Labels: priority.High, type.Task

#246 Fix docs update bugs
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/AddCommand.java
  src/main/java/seedu/address/logic/commands/EditCommand.java
  src/main/java/seedu/address/logic/commands/ListCommand.java
  src/main/java/seedu/address/logic/conditions/ConditionLogic.java
  src/main/java/seedu/address/logic/conditions/DateVerifier.java
  src/main/java/seedu/address/logic/conditions/RecurringScheduleVerifier.java
  src/main/java/seedu/address/model/task/AttributeManager.java
  src/main/java/seedu/address/model/task/attributes/Date.java
  src/main/java/seedu/address/model/task/attributes/RecurringSchedule.java
  src/test/java/seedu/address/logic/commands/ListCommandTest.java
  src/test/java/seedu/address/logic/parser/ListCommandParserTest.java
  src/test/java/seedu/address/model/task/RecurringScheduleTest.java
Labels: priority.High, type.Bug, type.Enhancement, type.Task

#248 Fix docs update bugs
  docs/UserGuide.md
  src/main/java/seedu/address/commons/core/Messages.java
  src/main/java/seedu/address/logic/commands/DoneCommand.java
  src/main/java/seedu/address/logic/commands/SnoozeCommand.java
  src/main/java/seedu/address/model/task/attributes/Date.java
Labels: priority.High, type.Bug, type.Task

#250 Update PPP
  docs/team/kaixiangtay.md
Labels: type.Task
